/* Add a box around method names */
.method > dt, .attribute > dt, .function > dt {
  background-color: #D8DEE3;
  padding-left: 8px;
  border-left: 2px solid rgb(0, 91, 129);;
}

/* Make method short descriptions slightly bigger */
.method > dd > p:first-child, .attribute > dd > p:first-child, .function > dd > p:first-child {
  font-size: medium;
}

/* Make the top/bottom bars blue, with white links */
div.related {
  background-color: rgb(0, 91, 129);;
}
div.related a {
  color: #FFFFFF;
}

/* Make tables take up the full width of their container */
dd > table, .section > table {
  width: 100%;
}

/* Center main content, and make the max width wider */
div.body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

thead {
  background-color: #D8DEE3;
}

.mod-video {
  float: right;
  background: #D8DEE3;
  padding: 8px;
}

.mod-video-section {
  min-height: 280px;
}
